/* --------------------------- */
/* GLOBAL STYLE - MOBILE FIRST */
/* --------------------------- */
:root {
	--color-background: #222222;
	--color-text: #f2f2f2;
	--color-heading-h3: #d68c87;
	--color-hr: #cdd687;
	--color-link-hover: #6e98c2;

	--font-primary: "Playfair Display", serif;
	--font-secondary: "Lato", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
	color: var(--color-text); /* standard farve til tekst */
	font-family: var(--font-secondary); /* standard font for body*/
}
* {
	border: 1px dotted greenyellow;
}
/* ---------------------------------------- */
/*               TYPOGRAFI                  */
/* ---------------------------------------- */
/* Her overskriver jeg min standardsettings */
h1 {
	font-family: var(--font-primary);
	font-weight: 800;
	font-size: 2.5rem; /* 40px */
	letter-spacing: 0.05em;
}

h2 {
	font-family: var(--font-primary);
	font-weight: 400;
	font-size: 1.5rem; /* 24px */
	letter-spacing: 0.1em;
	line-height: 1.4; /* 28px */
}

h3 {
	font-family: var(--font-primary);
	font-weight: 800;
	font-size: 1.875rem; /* 30px */
	letter-spacing: 0.05em;
	color: var(--color-heading-h3);
}

h4 {
	font-family: var(--font-secondary);
	font-style: italic;
	font-size: 1rem; /* 16px */
	letter-spacing: 0.05em;
	line-height: 1.5; /* 24px */ /* SKAL EVT. RETTES!! */
}

p,
a {
	font-family: var(--font-secondary);
	font-weight: 400;
	font-size: 1rem; /* 16px */
	letter-spacing: 0.1em;
	line-height: 1.6; /* 24px */
	color: var(--color-text);
	text-decoration: none;
}

a:hover {
	color: var(--color-link-hover);
	font-weight: 600;
}

hr.main__divider {
	border: none; /* Fjerner standardkant */
	height: 1px;
	width: 90%; /* Standard bredde til mobil, 90% */
	background-color: var(--color-hr);
	margin: 2rem auto; /* Linjen bliver i centrum */
}

/* -------------------------- */
/*        NAVIGATION          */
/* -------------------------- */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	position: absolute; /* ændret fra fixed og relative til absolute */
	top: 0;
	left: 5%;
	right: 5%;
	z-index: 1000; /* sikre, at navbaren ligger øverst */
}

.navbar__logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none; /* fjerner understregning */
	color: var(--color-text);
}

.navbar__logo-image {
	width: 20px;
	height: auto;
}

.navbar__toggle {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	color: var(--color-text);
	font-size: 1.8rem;
	cursor: pointer;
}

.navbar__list {
	display: none; /* skjules på mobil */
	flex-direction: column;
	position: absolute;
	top: 100%;
	right: 1rem;
	padding: 1rem;
	list-style: none; /* fjerner punkttegn */
	gap: 0.5rem;
}

.navbar__list a.active {
	/* aktivt link på undersiderne*/
	color: var(--color-link-hover);
	font-weight: 600;
	display: block; /* gør det til blok for at fylde hele bredden */
}

/* -------------------------- */
/*           FOOTER           */
/* -------------------------- */

.footer {
	margin: 2rem;
	padding: 2rem;
	background-color: #1a1a1a;
	border: 2px solid var(--color-text);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.footer__contact,
.footer__nav,
.footer__copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__heading,
.footer__text {
	margin: 0.5rem 0;
}

/* HVORFOR KOMMER DEN IKKE */
.footer_divider {
	width: 90%;
	height: 2px;
	background-color: var(--color-text);
	margin: 1.5rem 0;
}

.footer__text a {
	text-decoration: none;
	color: var(--color-text);
}

.footer__text a:hover {
	color: var(--color-link-hover);
}

/* -------------------------- */
/*   MEDIA QUERIES TABLET    */
/* -------------------------- */
/* --------TYPOGRAFI--------- */

@media (min-width: 768px) {
	h1 {
		font-size: 4.75rem; /* 76px */
	}

	h2 {
		font-size: 1.875rem; /* 30px */
		line-height: 1.5;
	}

	h4 {
		font-size: 1.25rem; /* 20px */
		line-height: 1.6;
	}
}

p,
a {
	font-size: 1.125rem; /* 18px */
}

/* -----NAVIGATION--------- */

@media (min-width: 768px) {
	.navbar__toggle {
		display: none;
	}

	.navbar__list {
		display: flex !important; /* vises på tablet og desktop */
		position: static;
		flex-direction: row;
		gap: 2rem;
		align-items: flex-end;
		width: auto;
		padding: 0;
	}
}
/* -----FOOTER--------- */
@media (min-width: 768px) {
	.footer {
		flex-direction: column;
		position: relative;
		border: 1px solid var(--color-text);
	}

	.footer__content {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		width: 100%;
		padding-bottom: 2rem;
		position: relative;
	}

	.footer__contact,
	.footer__nav {
		width: 40%;
		text-align: left;
	}

	.footer__contact {
		padding-right: 2rem;
	}

	.footer__nav {
		padding-left: 2rem;
	}

	.footer__divider--vertical {
		width: 1px;
		height: auto;
		background-color: var(--color-text);
		align-self: stretch;
	}

	.footer__divider {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 7rem; /*justér margin yderligere */
		height: 1px;
		background-color: var(--color-text);
	}

	.footer__copyright {
		text-align: center;
		margin: 1rem 0;
	}
}
