/* ------------------------------------------ */
/*                  KONTAKT                   */
/*             Mobile First Design            */
/* ------------------------------------------ */

main {
	padding: 0 1.4rem;
}

.kontakt {
	margin-top: 6.2rem;
}

.kontakt__title {
	margin: 1rem auto;
}

.kontakt__bredtekst {
	margin-bottom: 6rem;
}

.kontakt__højre {
	display: grid;
	grid-template-columns: 1fr 1fr; /* to kolonner */
	grid-template-rows: auto auto auto; /* Tre rækker */
	margin-top: 2rem;
}

.kontakt__billede {
	grid-column: 3 / 3;
	grid-row: 1 / 3;
	align-items: end;
	width: 120px;
	height: auto;
	margin-bottom: 0rem;
	transform: scaleX(-1);
}

.main__divider {
	grid-column: 1 / 3; /* Går over begge kolonner */
	grid-row: 2 / 3;
	width: 100%;
	height: 1px;
	background-color: var(--color-hr);
	border: none;
	margin-top: 1rem;
}

.kontakt__mail {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	justify-self: end;
}

.kontakt__tlf {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	justify-self: end;
}

/* ------------------------------------------ */
/*            MEDIA QUERIES: TABLET           */
/* ------------------------------------------ */
