/* ------------------------------------------ */
/*                  KONTAKT                   */
/*             Mobile First Design            */
/* ------------------------------------------ */

main {
	padding: 0 1.4rem;
}

.kontakt {
	margin-top: 6.2rem;
}

.kontakt__title {
	margin: 1rem auto;
}

.kontakt__bredtekst {
	margin-bottom: 4.5rem;
}

.main__dividerHorisontal {
	display: none;
}

.kontakt__billedeDesktop {
	display: none;
}

/* -------- GRID -------- */
/* Note til mig selv: gør det aldrig igen! */

.kontakt__højre {
	display: grid;
	grid-template-columns: 1fr 1fr; /* to kolonner */
	grid-template-rows: auto auto auto auto; /* fire rækker */
	gap: 0rem;
	margin-top: 0rem;
}

/* Note
Grid-rows:
Linje 1
──────────  ← grid-row: 1 / 2 starter her
Række 1
──────────  ← linje 2
Række 2
──────────  ← linje 3
Række 3
──────────  ← linje 4
Række 4
──────────  ← linje 5
*/

.kontakt__billede {
	grid-column: 2 / 3; /* l--lxl*/
	grid-row: 1 / 3; /* række 1-2 */
	justify-self: end;
	width: 150px;
	height: auto;
	margin-bottom: 0rem;
	transform: scaleX(-1);
}

.main__divider {
	grid-column: 1 / 3; /* Går over begge kolonner lxxlxxl */
	grid-row: 2/ 3; /* række 2 */
	width: 100%;
	height: 1px;
	background-color: var(--color-hr);
	border: none;
	margin-top: 1rem;
}

.kontakt__mail {
	grid-column: 1 / 2; /* lxl--l */
	grid-row: 3 / 4; /* række 3 */
	justify-self: start;
	margin-bottom: 0rem;
}

.kontakt__tlf {
	grid-column: 1 / 2; /* lxl--l */
	grid-row: 4 / 5; /* række 4*/
	justify-self: start;
	margin-top: 0.5rem;
}

/* ------------------------------------------ */
/*            MEDIA QUERIES: TABLET           */
/* ------------------------------------------ */
@media (min-width: 768px) {
	.kontakt__title {
		font-size: 2.3rem;
	}

	.kontakt__mail {
		margin-top: 8.4rem;
	}

	.kontakt__boks {
		display: flex;
		justify-content: space-between; /* Venstre og højre spreder sig ud */
		gap: 2rem; /* afstand mellem kolonner */
		position: relative;
	}

	.kontakt__venstre,
	.kontakt__højre {
		flex: 1; /* fylder lige meget plads hver */
	}

	.kontakt__højre {
		display: flex;
		flex-direction: column;
		align-items: flex-start; /* venstrestiller indhold i højre kolonne */
	}

	.kontakt__billedeDesktop {
		display: block; /*gør billedet synlig igen*/
		max-height: 30rem;
		margin-bottom: 1rem;
		margin-inline: auto; /* ← centrerer billedet vandret */
		align-self: flex-end;
		transform: scaleX(-1);
	}

	.kontakt__billede {
		display: none;
	}

	.main__divider {
		display: none;
	}

	.main__dividerHorisontal {
		display: block; /*gør stregn synlig igen*/
		border: none; /* Fjerner hr's standard-streg*/
		width: 1px;
		height: 60%;
		background-color: var(--color-hr);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-80%, -80%); /* centrerer både X og Y */
	}
}

/* ------------------------------------------ */
/*           MEDIA QUERIES: DESKTOP           */
/* ------------------------------------------ */
@media (min-width: 1164px) {
	.kontakt__mail {
		margin-top: 5.4rem;
	}
}
