/* ------------------------------------------ */
/*                  OM MIG                    */
/*             Mobile First Design            */
/* ------------------------------------------ */

main {
	padding: 0 1.4rem;
}

/* ---------OM MIG SEKTION------------ */

/* ------PROGRAMMER--------- */

/* ------ANBEFALING--------- */

.omMig__title {
	font-size: 80px; /* KIG PÅ DETTE SENERE */
	text-align: left;
	margin-bottom: 0rem;
}

.omMig__subtitle {
	margin-bottom: 0rem;
}

.omMig__billede {
	display: block;
	max-width: 100%;
	border-radius: 40px; /* Afrundede kanter som mockup*/
	margin-top: 1rem;
}

/* Værktøjsikoner */
.programmer__icons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	justify-items: center;
	margin-top: 1rem;
}

.programmer__icons img {
	width: 60px;
	height: auto;
}

/* Divider */
.main__divider {
	margin: 3rem auto;
	border: none;
	border-top: 2px solid #ccc;
	width: 80%;
}

/* ------------------------------------------ */
/*            MEDIA QUERIES: TABLET           */
/* ------------------------------------------ */
@media (min-width: 769px) {
	/* ---------- BASALE STYLES ---------- */
	main {
		padding-left: 1rem;
	}
}
