/* ------------------------------------------ */
/*                  OM MIG                    */
/*             Mobile First Design            */
/* ------------------------------------------ */

main {
	padding: 0 1.4rem;
}

/* ---------OM MIG SEKTION------------ */

.omMig__title {
	text-align: left;
	margin-top: 2rem;
	margin-bottom: 0rem;
	padding-top: 8.5rem; /* For højden på navbar */
}

.omMig__subtitle {
	margin-bottom: 0rem;
	margin-top: 1rem;
	padding-bottom: 2rem;
	font-style: italic;
	letter-spacing: 0.2rem;
	font-size: 1.2rem;
}

.omMig__billede {
	display: block;
	max-width: 60%;
	border-radius: 40px; /* Afrundede kanter som mockup */
	margin-left: auto;
	margin-right: auto;
}

.omMig__dividerVertikal {
	display: none;
}

/* ---- CALL-TO-ACTION: ANIMATION ---- */
.omMig__callAction {
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centrer knappen på mobil */
}

.omMig__knap {
	margin-bottom: 3rem;
	align-self: center; /* Sørger for, at knappen ikke strækker sig */
	width: auto; /* Beholder den naturlige størrelse */
	max-width: 200px;
}

.omMig__knap {
	position: relative;
	display: inline-block;
	padding: 0.75rem 1.5rem;
	font-weight: 600;
	font-size: 1rem;
	color: #f2f2f2;
	overflow: hidden;
	border: 1px solid #f2f2f2;
	border-radius: 2rem;
	transition: color 0.3s ease;
}

.omMig__knap::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #6e98c2;
	transition: top 0.3s ease;
	z-index: -1;
}

.omMig__knap:hover::before {
	top: 0;
}
.omMig__knap:hover {
	color: #f2f2f2;
}

/* ------PROGRAMMER--------- */
.omMig__varktejskasse {
	margin-top: 1rem;
	margin-bottom: 3rem;
	border-top: 1px solid var(--color-hr);
	border-left: 1px solid var(--color-hr);
	padding: 1rem;
}

.programmer__title {
	margin-top: 0rem;
	padding: 0rem;
}

.programmer__icons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	justify-items: center;
	margin-top: 1rem;
}

.programmer__icons img {
	width: 100px;
	height: auto;
}

hr.main__divider {
	display: none;
}

/* ------ANBEFALING--------- */
.anbefaling__name {
	display: block;
	margin-top: 0rem;
}

.anbefaling__ikon {
	/*DET SER BARE IKKE SÅ GODT UD*/
	font-size: 40px;
	color: #f2f2f2;
	position: relative;
	top: 10px;
}
.anbefaling_author {
	display: block;
	margin-top: 2.5rem;
}

/* ------------------------------------------ */
/*            MEDIA QUERIES: TABLET           */
/* ------------------------------------------ */
@media (min-width: 768px) {
	main {
		padding-left: 1rem;
	}

	/* ---------OM MIG SEKTION------------ */

	.omMig__topSektion {
		display: flex;
		align-items: flex-start;
		gap: 2rem;
		margin-bottom: 2rem;
	}

	.omMig__text {
		max-width: 70ch;
	}

	.omMig__callAction {
		flex-direction: column;
		justify-content: flex-end; /* Flyt knappen til højre */
	}

	.omMig__højre {
		display: flex;
		flex-direction: column;
		align-items: center; /* centrerer billede og værktøjskasse horisontalt */
		gap: 2rem; /* afstand mellem billede og værktøjskasse */
	}

	.omMig__billede {
		display: block;
		max-width: 100%;
		height: auto;
		border-radius: 40px;
		margin-top: 11rem; /* Juster hvis nødvendigt */
	}

	.omMig__varktejskasse {
		margin-top: 2rem;
	}

	hr.main__divider {
		display: block;
		border: none; /* Fjerner hr's standard-streg*/
		height: 1px;
		width: 100%;
		background-color: var(--color-hr);
		margin: 2rem auto;
	}
}

/* ------PROGRAMMER--------- */
@media (min-width: 768px) {
	.programmer__icons img {
		width: 125px;
		height: auto;
	}

	.programmer__title {
		margin-top: 0rem;
		padding: 0rem;
	}
}

/* ------------------------------------------ */
/*           MEDIA QUERIES: DESKTOP           */
/* ------------------------------------------ */
@media (min-width: 1311px) {
	.omMig__billede {
		margin-left: 6.2rem;
	}

	.omMig__højre {
		position: relative; /* gør det muligt at placere linjen korrekt */
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.omMig__varktejskasse {
		margin-left: 6.2rem;
	}

	.programmer__title {
		margin-top: 0rem;
		padding: 0rem;
	}

	.programmer__icons {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 1rem;
		justify-items: center;
		margin-top: 1rem;
	}

	.omMig__dividerVertikal {
		display: block; /*gør stregn synlig igen*/
		border: none; /* Fjerner hr's standard-streg*/
		width: 1px;
		height: 40%;
		background-color: var(--color-hr);
		position: absolute;
		top: 50%; /* centrerer vertikalt */
		left: 80%; /* forsøger at tilpasse position til billede */
		transform: translate(-80%, -80%); /* centrerer både X og Y */
	}
}
