/* ------------------------------------------ */
/*                 PROJEKTER                  */
/*             Mobile First Design            */
/* ------------------------------------------ */

main {
	padding: 0 1.4rem;
}

.projekter__overskrift {
	font-size: 80px; /* KIG PÅ DETTE SENERE */
	text-align: left;
	margin-bottom: 0rem;
	padding-top: 2rem;
}

.projekter__introtekst {
	margin-bottom: 0rem;
	padding-bottom: 2rem;
	letter-spacing: 0.2rem;
}

/* ---------------GRID---------------- */
.projekter {
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 0rem;
	padding-right: 0rem;
	margin: 0 auto; /* top & bund = 0, V/H=automatisk */
}

/* Her laver jeg så mange kolonner som der er plads til – hver kolonne skal være mindst 350px bred, men må gerne vokse og fylde det ledige rum. */

.projekter__grid {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.projekter__projekt {
	display: flex;
	flex-direction: column;
	background: none;
	padding: 1rem;
	margin-bottom: 4rem;
}

.projekter__billede {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 40px; /* Afrundede kanter som mockup */
}

.projekter__tekst {
	padding: 1rem;
}

.projekter__title {
	margin: 0 0 0.5rem;
}

.projekter__beskrivelse {
	margin: 0;
}

/* ---- CALL-TO-ACTION: ANIMATION ---- */
.projekter__ctaKnap {
	position: relative;
	display: inline-block;
	padding: 0.75rem 1.5rem;
	font-weight: 600;
	color: var(--color-white);
	overflow: hidden;
	border: 0.0625rem solid #f2f2f2;
	border-radius: 2rem;
	transition: color 0.3s ease;
	margin-top: 1rem;
}

.projekter__ctaKnap::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #6e98c2;
	transition: top 0.3s ease;
	z-index: -1;
}

.projekter__ctaKnap:hover::before {
	top: 0;
}

.projekter__ctaKnap:hover {
	color: #f2f2f2;
}
