/* Body */
html,
body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #222222;
	color: #f2f2f2;
}

/* Grøn linje*/
body hr {
	border: none; /* Fjerner standardkant */
	height: 2px;
	background-color: #cdd687;
	width: 84%; /* Linjen strækker sig til 84% af skærmens bredde */
	max-width: 1211px; /* Maksimal længde på 1211px*/
	margin: 0 auto; /* Linjen bliver i centrum*/
}

/* Mobilstørrelse */
@media (max-width: 768px) {
	body hr {
		max-width: 90%; /* Sætter maksimal bredde til 90% på mobil */
		margin-left: 5%; /* Tilføjer lidt afstand til venstre */
		margin-right: 5%; /* Tilføjer lidt afstand til højre */
	}
}
