/* ------------------------------------------ */
/*           UNDERSIDE TIL PROJEKTER          */
/*             Mobile First Design            */
/* ------------------------------------------ */
/* --------------- HERO -------------- */
main {
	padding: 0 1.4rem;
	max-width: 100%;
}

.projekt__hero {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-bottom: 2rem;
}

.projekt__heroBillede {
	width: 100%;
	border-radius: 40px;
	object-fit: cover;
	margin-top: 5rem;
}

.projekt__heroTekst {
	width: 100%;
	word-break: break-word;
}

.projekt__titel {
	margin-bottom: 1rem;
}

.projekt__infotekst {
	font-size: 0.875rem; /* lidt mindre end normal tekst */
	margin: 0.2rem 0;
	color: #cccccc; /* grå farve! HUSK DETTE IFT. KONTRAST!!! */
}

.projekt__info {
	margin-top: 1.5rem; /* giver afstand til undertitel */
}

/* ---------- INTRODUKTION ----------- */

.projekt__intro {
	margin-top: 2rem;
}

.projekt__introOverskrift {
	font-size: 1.25rem; /* 20px */ /* HUSK AT KIGGE PÅ ALLE STØRRELSER TIL SLUT!*/
	margin-bottom: 0.8rem;
}

.projekt__introTekst {
	font-size: 0.95rem; /* UNDERSØG OM DETTE EVT. SKAL VÆRE STØRRELSEN PÅ ALLE P*/
	max-width: 38ch; /* 30-40 CPL er godt på mobil */
}

/* ------- UDFORDRING & LØSNING -------- */
.projekt__udfordringOgLoesning {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;
}

.projekt__overskrift {
	font-size: 1.25rem; /* 20px */ /* HUSK AT KIGGE PÅ ALLE STØRRELSER TIL SLUT!*/
	margin-bottom: 0.8rem;
}

.projekt__tekst {
	font-size: 0.95rem;
	max-width: 38ch;
}

.projekt__listeOverskrift {
	font-size: 0.95rem;
	max-width: 38ch;
	margin-bottom: 0.8rem;
}

.projekt__liste {
	padding-left: 1.2rem; /* indryk fra venstre*/
	margin-top: 0rem;
}

.projekt__liste li {
	margin-bottom: 0.5rem;
	line-height: 1.5;
}

.projekt__nøgleoverskrift {
	font-size: 0.95rem;
	margin-top: 2rem;
}

/* ------------ GALLERI ------------- */
/* Opretter et responsivt grid:
  - 'auto-fit' tilpasser antallet af kolonner automatisk efter pladsen
  - 'minmax(200px, 1fr)' gør hver kolonne minimum 200px og max 1fr (deler resten af pladsen ligeligt)
*/
.projekt__galleri {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	margin-top: 2rem;
}

/* Billederne fylder hele grid-kolonnen og bevarer deres proportioner */
/* brug  object-fit: cover; hvis du ønsker at få det hele til at fitte -You know */
.projekt__galleriBillede {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 40px;
}

/* ------ DESIGNMÆSSIGE VALG ------- */
.projekt__tekstBilledeSektion {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem; /* HUSK AT RETTE DETTE FOR MERE WRITESPACE! */
	align-items: center;
}

/* Tekstkolonne */
.projekt__tekstKolonne {
	width: 100%;
}

.projekt__tekstBillede {
	width: 100%;
	height: auto;
	border-radius: 40px;
}

/* ------------------------------------------ */
/*            MEDIA QUERIES: TABLET           */
/* ------------------------------------------ */
/* --------------- HERO -------------- */
@media (min-width: 768px) {
	.projekt__hero {
		flex-direction: row;
		align-items: flex-start;
		padding-top: 5.7rem; /* For højden på navbar */
	}

	.projekt__heroBillede {
		width: 58%;
		margin-top: 0;
	}

	.projekt__heroTekst {
		width: 50%;
		padding-left: 0rem;
	}

	.projekt__titel {
		font-size: 2.5rem;
	}

	.projekt__undertitel {
		font-size: 1.125rem;
		width: 80%;
	}
}

/* ---------- INTRODUKTION ----------- */
@media (min-width: 768px) {
	.projekt__tekst {
		max-width: 62ch; /*60-75 CPL er godt + align med billede */
	}
}

/* ------- UDFORDRING & LØSNING -------- */
@media (min-width: 768px) {
	.projekt__udfordringOgLoesning {
		flex-direction: row;
		justify-content: space-between;
	}

	.projekt__udfordring,
	.projekt__loesning {
		width: 48%;
	}

	.projekt__tekst {
		max-width: 62ch;
	}
}

@media (min-width: 992px) {
	.projekt__tekst {
		max-width: 60ch;
	}
}

/* ------ DESIGNMÆSSIGE VALG ------- */
@media (min-width: 768px) {
	.projekt__tekstBilledeSektion {
		flex-direction: row;
		align-items: flex-start;
	}

	.projekt__tekstKolonne {
		width: 50%;
	}

	.projekt__billedeKolonne {
		width: 50%;
		display: flex;
		justify-content: center; /* centrerer billedet */
	}

	.projekt__tekstBillede {
		width: 100%;
		height: auto;
		max-width: 35rem;
	}
}

/* ------------------------------------------ */
/*           MEDIA QUERIES: DESKTOP           */
/* ------------------------------------------ */
/* --------------- HERO -------------- */
@media (min-width: 992px) {
	.projekt__titel {
		width: 80%;
	}

	.projekt__info {
		margin-top: 4rem; /* giver afstand til undertitel */
	}
}

/* ---------- INTRODUKTION ----------- */
@media (min-width: 992px) {
	.projekt__tekst {
		max-width: 60ch; /*60-75 CPL er godt + align med billede */
	}
}
